:root{
  --cor-nave: #C291F2;
  --cor-fundo: #FFCD69;
  --cor-linha: #000000;
  --cor-fundo1: rgba(255, 205, 105, 0.2);
  --cor-botoes: #E38EBA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
